/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */
/* Layout */
.container {
    width: 80%;
    margin: 0 auto; 
}

.padding-xy-15{
    padding: 15px;
}
.padding-xy-30{
    padding: 30px;
}

.padding-y-50{
    padding: 50px 0px;
}



/* HEADER */
.header{
    background-color: rgb(179, 179, 179);
    font-family: Arial, Helvetica, sans-serif;

}

.header *{
    vertical-align: middle;
}

.logo_title{
    font-size: 30px;
    font-weight: 600;
}


/* MAIN */
.color-gray{
    background-color: rgb(194, 194, 194);
}

.color-white{
    background-color: rgb(255, 255, 255);
}

.menu-pulsanti{
   margin-top: 50px;
   background-color: rgb(221 221 221);
   margin-bottom: 5px;
   padding: 30px;
}

.menu-todolist{
    padding: 30px;
    height: auto;
}

.pulsante {
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    font-family: Arial;
    font-weight: 400;
  
}

.pulsante_attivo{
    background-color: rgb(54, 138, 206);
    color: white;
    font-weight: 400;
}

.pulsante_disattivato{
    background-color: rgb(241, 241, 241);
    font-weight: 400;
}

ul{
    list-style-type:none;
}

.etichetta{
    padding: 8px;
    border-radius: 20px;
    text-decoration: none;
    font-family: Arial;
    font-weight: 400;
    border: 1px solid gray;
    
}


.list-item li{
    margin: 20px;
}

.etichetta {
    padding: 3px 9px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    color: white;
    border: 1px solid #457cdb;
    font-family: Arial;
}




.etichetta_color_Editorial{
    background-color: rgb(80, 147, 209);
}

.etichetta_color_Q1{
    background-color: rgb(194, 80, 209);
}

.etichetta_color_Reqruiting{
    background-color: rgb(80, 209, 149);
}

.etichetta_color_Mobile{
    background-color: rgb(212, 153, 75);
}


.etichetta_color_Sales{
    background-color: rgb(179, 231, 110);
}

.icona_check{
    padding: 3px 9px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    color: white;
    border: 1px solid #457cdb;
    font-family: Arial;
}
.icona_No{
    padding: 3px 9px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
    color: white;
    border: 1px solid #457cdb;
    font-family: Arial;
}

span.icona_check {
    margin-right: 10px;
    background: #b1e1b1;
    color: green;
}

span.icona_No{
    margin-right: 10px;
    background: rgb(238, 183, 179);
    color: rgb(160, 25, 20);
}